

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents the whole page from scrolling */
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  /* Серый круглый (эллиптический) градиент от центра */
  background: radial-gradient(ellipse at center, #939da7 0%, #83798a 100%);
}

.font-ruslan {
  font-family: 'Ruslan Display', cursive;
}

/* --- Custom Scrollbar Styles --- */

/* For Webkit-based browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(71, 85, 105, 0); /* slate-600, initially transparent */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.7); /* slate-500 semi-transparent on container hover */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 116, 139, 0.9); /* More opaque on thumb hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #64748b transparent; /* thumb color track color */
}